# MongoDB Connection String
# Replace with your MongoDB connection string (MongoDB Atlas or Local MongoDB)
# Example: mongodb+srv://username:password@cluster.mongodb.net/tiranga_cards?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/tiranga_cards?retryWrites=true&w=majority

# Admin Access Security PIN (Default: 123456)
ADMIN_PIN=123456
